.each-step-container {
  margin: 50px auto 30px;
}

.each-step-title {
  width: 30%;
  margin: 0 auto;
}

.each-step-sentense {
  margin: 0 auto;
  /* text-align: center; */
}

.each-step-wrapper {
  width: 50%;
  margin: 20px auto;
}

.next-button {
  width: 90%;
  display: flex;
  justify-content: flex-end;
}