.button-link {
  background-color: #2FAC9E;
  border-radius: 20px;
  width: 100px;
  height: 30px;
  text-align: center;
  cursor: pointer;
}

.inner-button-link {
  text-decoration: none;
  color: white;
  padding: 3px;
  display: block;
}